@import "tailwindcss";

@theme {
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  
  --color-galaxy-darkest: #110515;
  --color-galaxy-dark: #221545;
  --color-galaxy-light: #B26FCB;
  --color-galaxy-primary: #68388D;
  --color-galaxy-secondary: #855AB4;
}

@layer base {
  body {
    background-color: var(--color-galaxy-darkest);
    color: #f3f4f6;
  }
}
